<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
        Artworks
    </ion-title>
    <ion-buttons slot="start">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="expositions"></ion-back-button>
        </ion-buttons>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list *ngFor ="let art of artArray">
    <ion-label>{{art.name}}</ion-label>
    <br>
    <ion-label>{{art.authorFullName}}</ion-label>
    <br>
    <ion-label>{{art.authorNationality}}</ion-label>
    <br>
    <ion-label>{{art.category}}</ion-label>
    <br>
    <ion-label>{{art.creationDate}}</ion-label>
    <br>
    <ion-label>{{art.creationPeriod}}</ion-label>
    <br>
    <ion-label>{{art.image}}</ion-label>
    <br>
  </ion-list> -->

</ion-content>
