<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      Artworks
    </ion-title>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="expositions"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let art of artArray">
    <div *ngIf="art.artExpo.idExposition == 19">
      <ion-item>
        <ion-img src="{{art.image}}"></ion-img>
      </ion-item>
      <ion-item>
        <ion-label >Name: {{art.name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Author's name: {{art.authorFullName}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Author's nationality: {{art.authorNationality}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Category: {{art.category}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Year:  {{art.creationDate}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Period Style: {{art.creationPeriod}}</ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>