<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
        Artworks
    </ion-title>
    <ion-buttons slot="start">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="expositions"></ion-back-button>
        </ion-buttons>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let art of artArray">
      <div *ngIf="art.artExpo.idExposition == 19">
        <ion-item>
          <ion-label >{{art.name}}</ion-label>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>{{art.authorFullName}}</ion-label>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>{{art.authorNationality}}</ion-label>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>{{art.category}}</ion-label>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>{{art.creationDate}}</ion-label>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>{{art.creationPeriod}}</ion-label>
        </ion-item>
        <br>
        <ion-item>
          <ion-img src="{{art.image}}"></ion-img>
        </ion-item>
      </div>
    </ion-list>
