<ion-header>
  <ion-toolbar>
    <ion-title>sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>

    <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="fullName" placeholder="Full Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="nationality" placeholder="Nationality"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="password" placeholder="Password"></ion-input>
        </ion-item>
        <br>
        <br>
        <ion-button color="primary" (click)="goToDisplayData()">DONE</ion-button>
      </ion-list> 
      <br>
      <br>
      <ion-button color="primary" (click)="goToLogin()">I already have an account</ion-button>  
</ion-content>
